{:paths ["src" "../../src" "resources"]
 :deps {djblue/portal {:mvn/version "0.58.5"}}
 :tasks
 {cheatsheet {:doc "Run cheatsheet example"
              :task (exec 'examples.cheatsheet/-main)}

  countdown {:doc "Run countdown example"
             :task (exec 'examples.countdown/-main)}

  counter {:doc "Run counter example"
           :task (exec 'examples.counter/-main)}

  emojis {:doc "Run emojis example"
          :task (exec 'examples.emojis/-main)}

  download {:doc "Run download example"
            :task (exec 'examples.download/-main)}

  file-browser {:doc "Run file browser example"
                :task (exec 'examples.file-browser/-main)}

  form {:doc "Run form example"
        :task (exec 'examples.form/-main)}

  presentation {:doc "Run presentation example"
                :task (exec 'examples.paginator-demo/-main)}

  pomodoro {:doc "Run pomodoro example"
            :task (exec 'examples.pomodoro/-main)}

  sketch {:doc "Run sketch example"
          :task (exec 'examples.sketch/-main)}

  spinner {:doc "Run spinner example"
           :task (exec 'examples.spinner-demo/-main)}

  timer {:doc "Run timer example"
         :requires ([examples.timer])
         :task (apply examples.timer/-main *command-line-args*)}

  todos {:doc "Run todos example"
         :task (exec 'examples.todos/-main)}
  
  recreate-gifs {:doc "Recreate all gifs with vhs"
                 :task (do (shell "vhs vhs/cheatsheet.tape")
                           (shell "vhs vhs/countdown.tape")
                           (shell "vhs vhs/counter.tape")
                           #_(shell "vhs vhs/emojis.tape")
                           (shell "vhs vhs/download.tape")
                           (shell "vhs vhs/file-browser.tape")
                           (shell "vhs vhs/form.tape")
                           (shell "vhs vhs/pomodoro.tape")
                           (shell "vhs vhs/sketch.tape")
                           (shell "vhs vhs/spinner.tape")
                           #_(shell "vhs vhs/timer.tape")
                           (shell "vhs vhs/todos.tape"))}

  portal {:doc "Start nREPL server with portal + tap> wired up"
          :requires ([babashka.nrepl.server :as nrepl]
                     [portal.api :as p])
          :task (do
                  (p/open)
                  (add-tap p/submit)
                  (println "Portal opened. nREPL on localhost:1667")
                  (nrepl/start-server! {:port 1667})
                  (deref (promise)))}}}

